#main
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw
  background: #0c0621bb

#drum-machine
  display: flex
  justify-content: center
  background: #0c0621
  align-items: center
  color: white
  height: 50vh
  width: auto
  box-shadow: 0 0 20px #0c0621
  border-radius: 1vw

$gridsize: 8vh

#pads
  display: grid
  grid-template-columns: $gridsize $gridsize $gridsize
  grid-template-rows: $gridsize $gridsize $gridsize
  grid-gap: 0.25*$gridsize
  padding: 4vw

.drum-pad
  display: grid
  background: #7cb11a
  border: 0.03*$gridsize solid #b0d42f
  border-radius: 0.1*$gridsize
  color: white
  justify-content: center
  align-items: center
  font-size: 1.5em
  box-shadow: 0 0 10px #8abb22

.drum-pad:hover
  background: #7cb11af5
  box-shadow: 0 0 18px #8abb22
  cursor: pointer

#display
  display: flex
  flex-direction: column
  padding: 4vw

.control-item
  display: flex
  justify-content: space-evenly
  align-items: center
  font-size: 1.5em
  background: #2c273ebb
  border-radius: 2vw
  box-shadow: 0 0 7px #2a253c
  padding: 1vw
  width: 20vw
  height: 6vh
  margin: 2vh

.volume-button
  font-size: 1.25em
  background: #0c0621
  height: 6vh
  width: 6vh
  color: white
  border: 0.5vh solid grey
  border-radius: 1vh
  cursor: pointer

.volume-button:hover
  background: #0c0621af
  box-shadow: 0 0 18px #0c062140
  cursor: pointer

@media (max-width: 768px)

  #drum-machine
    height: 60vh
    width: 65vw
    flex-direction: column-reverse

  $mobilegridsize: 0.9*$gridsize

  #pads
    display: grid
    grid-template-columns: $mobilegridsize $mobilegridsize $mobilegridsize
    grid-template-rows: $mobilegridsize $mobilegridsize $mobilegridsize
    grid-gap: 0.125*$mobilegridsize
    padding: 4vw

  .control-item
    font-size: 1.0em
    padding: 1vw
    width: 45vw
    height: 6vh
    margin: 1vh

  .volume-button
    font-size: 1em
    height: 4vh
    width: 4vh
