#main
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw
  background: #0c0621bb

#drum-machine
  display: flex
  justify-content: center
  background: #0c0621
  align-items: center
  color: white
  height: 50vh
  width: auto
  box-shadow: 0 0 20px #0c0621
  border-radius: 1vw

$gridsize: 8vh

#display
  display: grid
  grid-template-columns: $gridsize $gridsize $gridsize
  grid-template-rows: $gridsize $gridsize $gridsize
  grid-gap: 0.25*$gridsize
  padding: 5vw

.drum-pad
  display: grid
  background: #7cb11a
  border: 0.03*$gridsize solid #b0d42f
  border-radius: 0.1*$gridsize
  color: white
  justify-content: center
  align-items: center
  font-size: 1.5em
  box-shadow: 0 0 10px #8abb22

.drum-pad:hover
  background: #7cb11af5
  box-shadow: 0 0 18px #8abb22
  cursor: pointer

#control
  display: flex
  padding: 5vw

.control-item
  display: flex
  font-size: 2em
  background: #2c273ebb
  border-radius: 2vw
  box-shadow: 0 0 7px #2a253c
  padding: 1vw
  width: 25vw
